
.CodeMirror {background: #ffffff; border: 1px solid #CCCCCC; font-size:12px; color:#ff00ff}
.cm-s-default span.cm-keyword {color: #FF0000; font-weight:bold; }
.cm-s-default span.cm-atom {color: #0000FF;}
.cm-s-default span.cm-number {color: #0000FF;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: 000099;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #999999;}
.cm-s-default span.cm-string {color: #d00404;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #ff00ff;}
.cm-s-default span.cm-attribute {color: #00c;}

/* trying to activate this, doesn't work with code highlighter */
textarea { resize:both !important; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical !important; }
textarea.noResize { resize:none; }

