@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('DroidSansMono-webfont.eot');
    src: url('DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSansMono-webfont.woff') format('woff'),
         url('DroidSansMono-webfont.ttf') format('truetype'),
         url('DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.CodeMirror {
  line-height: 1em;
  font-family:'DroidSansMonoRegular','Courier New', Courier, monospace;
}

.CodeMirror-scroll {
  overflow: auto;
  height:500px;
  resize:both !important;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}
.CodeMirror textarea { resize:both !important; } /* none|horizontal|vertical|both */
.CodeMirror textarea.vert { resize:vertical !important; }
.CodeMirror textarea.noResize { resize:none; }

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

.CodeMirror textarea {
  font-family: inherit !important;
  font-size: inherit !important;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

.CodeMirror-matchingbracket {color: #0f0 !important;}
.CodeMirror-nonmatchingbracket {color: #f22 !important;}
