.cs_test_class {
	background-color:tomato;
}
.cs_view_buttons {
	margin-top: 15px;
	margin-bottom: 5px;
}
.cs_view_buttons button { 
	float: right;
}
.cs_title {
	float: left;
	width: 240%;
}


.wide_field { width: 560px; }
.fixed_width_button { width: 155px; }


#workflow_state { 
	color: rgba(0, 0, 0, 0.6); 
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	margin-left: -2px; 
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#customer_active_tickets_warning { 
	color: rgba(255, 0, 0, 0.6); 
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	padding-bottom: 8px;
	margin-left: -2px; 	
}

.bold_field{ 
	font-weight: bold;
}

.bold_field_special_note{ 
	font-weight: bold;
	color: rgba(255, 0, 0, 0.6);
}