.cs_test_class {
	background-color:tomato;
}
.cs_view_buttons {
	margin-top: 15px;
	margin-bottom: 5px;
}
.cs_view_buttons button { 
	float: right;
}
.cs_title {
	float: left;
	width: 40%;
}


.wide_field { width: 560px; }
.fixed_width_button { width: 155px; }
